* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #444;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-list-link:link,
.nav-list-link:visited {
  text-decoration: none;
  transition: all 0.3s;
  font-size: 1.6rem;
  color: #000;
  display: inline-block;
  padding: 1rem 2rem;
}

.nav-list-link:hover,
.nav-list-link:active {
  color: #a0d3f9;
}

.nav-list-link.attention:link,
.nav-list-link.attention:visited {
  background-color: #ed7458;
  border-radius: 0.4rem;
  color: #fff;
}

h1 {
  font-size: 6.8rem;
}

h2 {
  font-size: 4.8rem;
  margin-bottom: 4.8rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 3.2rem 9.6rem;
  background-color: #fbe3de;
}

* + * {
  margin-bottom: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.hero-section {
  background-color: #fbe3de;
  padding: 0 0 9.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.hero-img {
  justify-self: center;
  align-self: center;
  width: 60%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  line-height: 1.5;
  font-size: 1.8rem;
}

.a:link,
.a:visited {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #ed7458;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

.margin-r {
  margin-right: 2rem;
}
