* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #444;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-list-link:link,
.nav-list-link:visited {
  text-decoration: none;
  transition: all 0.3s;
  font-size: 1.6rem;
  color: #000;
  display: inline-block;
  padding: 1rem 2rem;
}

.nav-list-link:hover,
.nav-list-link:active {
  color: #a0d3f9;
}

.nav-list-link.attention:link,
.nav-list-link.attention:visited {
  background-color: #ed7458;
  border-radius: 0.4rem;
  color: #fff;
}

h1 {
  font-size: 6.8rem;
}

.grid h2 {
  font-size: 4.8rem;
  margin-bottom: 4.8rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 3.2rem 9.6rem;
  background-color: #fbe3de;
}

/* * + * {
  margin-bottom: 20px;
} */

header nav {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.hero-section {
  background-color: #fbe3de;
  padding: 0 0 9.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.hero-img {
  justify-self: center;
  align-self: center;
  width: 60%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  line-height: 1.5;
  font-size: 1.8rem;
}

.a:link,
.a:visited {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #ed7458;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

.margin-r {
  margin-right: 2rem;
}

/*.............*/

.card {
  border-radius: 24px;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 40px;
  padding: 22px;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  height: 300px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
}

.tag {
  background-color: cadetblue;
  border-radius: 12px;
  padding: 4px 8px;
  margin-right: 1rem;
}

.project_description {
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: space-between;
  margin: 0 20px;
  line-height: 1.5;
  font-size: 1.8rem;
}

img {
  width: 100%;
  margin: 0 8px;
  /* border-radius: 18px; */
}

.tools {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.projects {
  margin: 40px auto;
  width: 800px;
}

.project_description a {
  text-decoration: none;
}

.custom {
  padding-bottom: 1.5rem;
}
